*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo{
    float: left;
    position: relative;
    margin-left: 50px;
}


nav{
    float: right;
    margin-right: 50px;
    overflow:hidden;
    text-align: center;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    
    list-style: none;
    float: left;  
    padding: 15px;
    margin: 0;

}

nav ul li a{
    text-decoration: none;
    color: #000;
    text-align: center;
    padding: 15px;
    font-size: 17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow: hidden;
}

nav a:hover {
    background-color: skyblue;
    color: blue;
}



.text{
    display: inline-block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
    width: 500px;
    height: 300px;
    margin: 100px 100px 100px 0;
    
    /* margin: auto; */
    color: #000;
    cursor: auto;
}

.para1{
    color: rgb(116, 116, 116);
    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 20px;
}

.button {
    border-radius: 50px;
    width: 200px;
    height: 40px;
    border-color: rgb(53, 108, 228);
    color: white;
    font-size: 15px;
    
}

.button1 {
    background-color: rgb(53, 108, 228);
}

.pic1{
    display: inline-block;
    margin-left: 50px;
    margin-right: 0px;
    cursor: auto;
}

.box2 {
    display: block;
    margin: auto;
}
h3 {
    color: #000;
    margin-left: 200px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.logo_image{
    display: inline-block;
    width: 100px;
    height: 80px;
    margin: 20px 50px 20px 100px;
    filter: grayscale(100%);
}

.logo_image: hover{
    filter: grayscale(0);
}

hr {
    background-color: lightgrey;
}