*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.all
{
    margin-left: 50px;
    margin-right: 50px;
}
.logo{
    float: left;
    position: relative;
    margin-left: 50px;
}


nav{
    float: right;
    margin-right: 50px;
    overflow:hidden;
    text-align: center;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    
    list-style: none;
    float: left;  
    padding: 15px;
    margin: 0;

}

nav ul li a{
    text-decoration: none;
    color: #000;
    text-align: center;
    padding: 15px;
    font-size: 17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow: hidden;
}

nav a:hover {
    background-color: skyblue;
    color: blue;
}



.text{
    display: inline-block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
    width: 500px;
    height: 300px;
    margin: 100px 100px 100px 0px;
    color: #000;

}

.para1{
    color: rgb(116, 116, 116);
    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 20px;
}

.button_button1{
    border-radius: 50px;
    width: 200px;
    height: 40px;
    border-color: rgb(53, 108, 228);
    color: white;
    font-size: 15px;
    background-color: rgb(53, 108, 228);
   
}


.pic1{
    display: inline-block;
    margin-left: 50px;
    margin-right: 0px;
    cursor: auto;
}

.box2 {
    display: block;
    text-align: left;
}
h2 {
    color: #000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    margin-left: 200px;
}

.logo_image{
    display: inline-block;
    width: 150px;
    margin-left: 80px;
    padding: 15px;
    filter: grayscale(100%);
}


.logo_image:hover
{
    filter: none;
    filter: grayscale(0%);
}


.containers
{
    margin: 50px;
    display: flex; 
    justify-content: center;
    align-items:left;
    
}
.containers h1
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.containers p
{
    color: rgb(116, 116, 116);
    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 80px;
    font-weight: lighter;
    margin-top: 10px;
}
.values
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}
.grid
{
    display:grid;
    width: 60em;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    align-items: center;

}
.grid-item
{
    border-radius: 30px;
    overflow: hidden;
    cursor: pointer;
    transition: 0.2s;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
    border-radius: 10px;
    padding:18px;
    height: 220px;
}

.grid-item:hover
{
    transform: translateY(-10%);
    box-shadow:0 10px 10px rgba(0,0,0,0.);
    
}
.card-img
{
    display:block;
    width: 30px;
    object-fit:cover;
    margin-bottom: .8rem;
}

.card-content
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 5px;
    text-align: left;
}

.card-header:hover
{
    color:rgb(53, 108, 228);
    text-decoration: underline;
    
}
.card-header
{
    text-align: left;  
    color:black;
    margin-bottom: 20px;
    font-size: small;
}
.card-text
{
    text-align: left;
    /* word-break: normal; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: gray;
    font-size: 13px;
}

.card-text:hover{
    color: black;
}